/target
/config/local.toml
/data/templates/
/data/projects/
/data/temp/
/data/templates-old/
/data/data.1.bincode
/data/data.bincode
/data/data.2.bincode
/typescript/node_modules/
/typescript/dist/
/typescript/dist/
/typescript/package-lock.json
/Cargo.lock
/static/js
/.idea
/version.txt
