:root {
    --dark-blue: #1b1b30;
    --red: #d62839ff;
    --light-blue: #caf0ff;
    --green: #81f495ff;
    --silver: #bfafa6ff;
    --light-gray: #f5f5f5ff;
    --grey: #808080ff;
    --white: #ffffffff;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--light-gray);
}

.login_box {
    @media (max-width: 767.98px) {
        width: 90%;
    }
    margin-top: 10%;
    width: 50%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}


.project_list_row {
    height: 40px;
    border-bottom: 1px solid lightgrey;
}

.project_list_row a {
    text-decoration: none;
}

.project_list {
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}

.navbar {
    background-color: var(--dark-blue);
    color: white;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

#editor-sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px);
    position: fixed;
    width: inherit;
    padding: 7px;
}

#editor-sidebar-wrapper{
    background-color: white;
    border-right: var(--silver) 1px solid;
    padding: 0;
}

@media (max-width: 767.98px) {
    #editor-sidebar-wrapper{
        width: 100%;
    }
    #editor-sidebar{
        position: relative;
        min-height: initial;
    }
    .editor-details{
        width: min-content;
    }
}

#editor_sidebar_project_title {
    display: block;
    border-bottom: 1px solid var(--silver);
    font-weight: bold;
    cursor: pointer;
}
#editor_sidebar_content_block_settings_back {
    margin-bottom: 10px;
}
#editor_sidebar_contents{
    overflow-y: auto;
    margin-bottom: 10px;
}
.editor-sidebar-structure {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.editor-details{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    height: calc(100vh - 70px);
    width: min-content;
    flex-grow: 1;
}
#editor-render-preview{
    overflow-y: auto;
    height: calc(100vh - 70px);
    width: min-content;
    margin: auto;
}
#editor_sidebar_contents{
    flex-grow: 1;
    overflow-y: auto;
}
.editor_sidebar_contents_section_with_children{
    margin-top: 5px;
}
.editor_sidebar_contents_section_title{
    cursor: pointer;
}
.editor_sidebar_contents_section_with_children_title{
    cursor: pointer;
}
.editor_sidebar_contents_section_after_dropzone{
    height: 10px;
    position: relative;
}
.editor_sidebar_contents_section_children{
    margin-left: 20px;
}
.editor{
    height: calc(100vh - 47px);
    min-height: 100%;
}
.editor_section_view_metadata{
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
}
.active-border-bottom{
    border-bottom: 2px solid var(--light-blue);
}
label{
    font-weight: bold;
    color: var(--grey);
    font-size: 0.8rem;
}

.btn-sm{
    padding-left: 3px;
    padding-right: 3px;
}
.hide{
    display: none;
}
#loading_spinner {
    width: 3rem;
    height: 3rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s infinite linear;
    background-color: rgba(256, 256, 256, 0.9);
    display: none;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.alert{
    width: 80%;
    margin: auto;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    padding-right: 32px;
    z-index: 1000;
}
.alert-close{
    position: absolute;
    opacity: 0.9;
    right: 6px;
}
.inner-panel{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
#persons_list_thead{
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: initial;
}
.persons_list_row{
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: initial;
}
.persons_list_row:hover{
    background-color: var(--light-blue) !important;
}
.persons_list_row:nth-child(even){
    background-color: var(--light-gray);
}
.search_result_list{
    margin-top: 1px;
    list-style-type: none;
    background-color: white;
    width: 300px;
    padding: 4px 8px 4px 8px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0;
    font-size: 0.9rem;
    z-index: 100;
}
.search_result_list li{
    cursor: pointer;
    border-bottom: 1px solid var(--bs-border-color);
    padding: 4px;
}

.search_result_list li:hover {
    background-color: var(--light-blue);
}

.search_result_list li:last-child{
    border-bottom: none;
}
.project_metadata_authors_ul{
    font-size: 0.9rem;
}
.img-btn{
    margin: 0;
    padding: 0;
    background-color: unset;
    border: none;
}
.project_metadata_keywords_entry{
    width: auto;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: monospace;
}
.project_metadata_keywords_entry a{
    text-decoration: none;
}
.project_metadata_keywords_entry_wrapper{
    display: flex;
    margin-right: 10px;
}
.project_metadata_keywords_entry_wrapper:hover .project_metadata_keywords_remove {
    display: inline-block !important;
}
.project_metadata_keywords_remove{
    display: none;
    background-color: red;
    margin:0;
}
#project_metadata_keywords{
    display: flex;
}
.section_metadata_panel_ctl{
    text-align: center;
}
#section_hide_metadata{
    background-color: var(--light-gray);
    border-radius: 5rem 5rem 0 0 ;
    margin-bottom: -20px;
    padding-bottom: 10px;
    cursor: pointer;
}
.editor_section_view_collapsed_metadata_inner{
    background-color: white;
    padding: 10px 10px 0px 10px;
}
.editor_section_view_collapsed_metadata{
    margin-bottom: 50px;
}
#section_show_metadata{
    background-color: white;
    border-radius: 0 0 5rem 5rem;
    margin-top: -10px;
    cursor: pointer;
}
.section_metadata_panel_ctl{
    margin-top: -3px;
}
.section_content_blocks_add_new_block{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
}
.new_block_selection{
    width: 75px;
    border: 1px solid var(--silver);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.new_block_selection_label{
    font-size: 0.6rem;
    text-align: center;
}
.content_block{
    margin-bottom: 10px;
    display: flex;
}
.inner_content_block{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}
.content_block_ctls{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content_block_ctls_type{
    background-color: white;
    z-index: 1000;
    margin-right: -3px;
}
.formatted_text_bold{
    font-weight: bold;
}
.formatted_text_italic{
    font-style: italic;
}
.formatted_text_underline{
    text-decoration: underline;
}
.ce-block__content,
.ce-toolbar__content {
    max-width: unset !important;
}
#section_content_blocks_inner{
    padding-left: 50px;
    padding-right: 50px;
    overflow-wrap: anywhere;
}
.note-settings{
    position: fixed;
    background-color: white;
    z-index: 20;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    top: 40px;
    opacity: 0.9;
}
.custom-style-tool-settings{
    position: absolute;
    background-color: white;
    z-index: 20;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    top: 40px;
    opacity: 0.9;
}
.citation-settings{
    position: fixed;
    background-color: white;
    z-index: 20;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    top: 40px;
    opacity: 0.9;
}
.note{
    vertical-align: super;
    font-weight: bold;
    padding: 1px;
    cursor: pointer;
    font-style: italic;
}
citation{
    vertical-align: super;
    font-weight: bold;
    padding: 1px;
    cursor: pointer;
    font-style: italic;
}
customstyle{
    border-bottom: 1px dotted var(--grey);
}
.faded-out-background{
    background: rgba(128,128,128,0.7);
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.overlay{
    position: absolute;
    background-color: white;
    width: 80%;
    height: 80%;
    opacity: 1;
    z-index:2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#inner_overlay{
    padding: 20px;
}
#overlay_close_btn{
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--grey);
}
.import-card{
    width: 150px;
    height: 200px;
    border: 1px solid var(--silver);
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}
.bibeditor_sidebar_entry{
    cursor: pointer;
}
#citation-search-res-ul{
    margin-top: 1px;
    list-style-type: none;
    background-color: white;
    width: 300px;
    padding: 4px 8px 4px 8px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0;
    font-size: 0.9rem;
    z-index: 100;
}
.citation-search-res-li{
    cursor: pointer;
    border-bottom: 1px solid var(--bs-border-color);
    padding: 4px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
}
#wizard-pandoc-upload-progress{
    width: 100%;
}