<div id="title_page">
    {{#if metadata.editors}}
        <div class="title_page_editors">
            <span>Edited by</span><br>
            <div>
            {{#each metadata.editors}}
                <span class="title_page_editor">{{first_names}} {{last_names}}</span>
            {{/each}}
            </div>
    </div>
    {{/if}}
    <span class="title_page_title">{{metadata.title}}</span><br>
    {{#if metadata.subtitle}}
        <span class="title_page_subtitle">{{metadata.subtitle}}</span>
    {{/if}}

    <img class="title_page_logo" src="verfassungsbooks.png"/>
</div>