@font-face {
    font-family: "PT Serif";
    src: url('PTSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "PT Serif";
    src: url('PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "PT Serif";
    src: url('PTSerif-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "PT Serif";
    src: url('PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: "Antonio";
    src: url('Antonio-Regular.ttf') format('truetype');
}

@font-face{
    font-family: "Antonio";
    src: url('Antonio-Bold.ttf') format('truetype');
    font-weight: bold;
}

body{
    font-family: "PT Serif";
    font-size: 10pt;
}

a{
    color: grey;
    text-decoration: none;
    word-break: break-all;
}

#metadata_page{
    page-break-after: always;
    font-size: 8pt;
    page: NoFooter;
}
#metadata_page_inner{
    position: absolute;
    bottom: 0;
}
#title_page{
    page-break-after: always;
    text-align: center;
    page: NoFooter;
}
#title_page{
    margin-top: 2cm;
    font-size: 8pt;
}
.title_page_editor:not(:first-of-type)::before {
    content: ", ";
}

.title_page_editor:last-of-type::before {
    content: " & ";
}

.title_page_editor:first-of-type:last-of-type::before {
    content: "";
}
.title_page_title{
    display: block;
    margin-top: 1.5cm;
    font-size: 18pt;
    font-family: Antonio;
}
.title_page_subtitle{
    position: relative;
}
.title_page_logo{
    width: 4cm;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:0;
}

@page {
    counter-reset: footnote 0;
    size: 12.5cm 19cm;
    margin: 1.8cm 1.5cm 2.5cm;
    counter-increment: page;
}

@page {
    @footnote {
        border-top: dashed red 1px;
        float: bottom;
    }
}

@page:left {
    @bottom-left {
        content: counter(page);
        font-size: 8pt;
        font-family: Antonio;
    }
}

@page:right {
    @bottom-right {
        content: counter(page);
        font-size: 8pt;
        font-family:Antonio;
    }
}

@page:left Footer {
           @bottom-left {
               content: counter(page) !important;
               font-size: 8pt;
               font-family: Antonio;
           }
           }

@page:right Footer{

            @bottom-right {
                content: counter(page) !important;
                font-size: 8pt;
                font-family:Antonio;
            }
            }

@page NoFooter {
    @bottom-center {
        content: "";
    }
    @bottom-left {
        content: "";
    }
    @bottom-right {
        content: "";
    }
}

:root {
    counter-reset: footnote;
}
.footnote {
    counter-increment: footnote;
    float: footnote;
}
.footnote-marker::before,
.footnote-call::before {
    content: counter(footnote);
}

.chapter{
    hyphens: manual;
    text-align: justify;
    page: Footer;
}

h1{
    font-family: Antonio;
    font-size: 14pt;
    font-weight: normal;
}
h2{
    font-family: Antonio;
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.chapter_titlepage{
    break-before: right;
    break-after: right;
    text-align: center;
}
.chapter_titlepage_inner{
    margin-top: 2cm;
    page: NoFooter;
}
.chapter_titlepage > h1{
    margin-top: 0.5cm;
}
.chapter_titlepage_subtitle{
    font-style: italic;
}
.toc{
    margin-top: 1cm;
    font-size: 12pt;
}
.toc a{
    color: black;
}
.toc-link{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 0.3cm;
}
.toc-link-number{
    width: 2cm;
    text-align: right;
}
.toc-link-number::after{
    content: target-counter(attr(href, url), page);
}
.qrcode{
    position: absolute;
    transform: rotate(45deg) translateX(-50%);
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 50%;
}
.acknowledgement{
    font-size: 9pt;
    text-align: justify;
    text-align-last: right;
}
.endnotes{
    break-inside: avoid;
}
.endnotes > ol{
    padding-left: 0;
}
#beforetoc{
    break-before: left;
    page: NoFooter;
}
#toc{
    break-before: right;
    page: NoFooter;
}
.toc-section-authors{
    display: block;
    font-style: italic;
    font-size: 9pt;
}
.toc-foreword{
    font-size: 11pt;
    hyphens: manual;
    word-break: normal;
}
.toc-part-title{
    font-size: 11pt;
    hyphens: manual;
    word-break: normal;
    font-weight: bold;
}
.toc-section-title{
    font-size: 11pt;
    hyphens: manual;
    word-break: normal;
}
.toc-part-link{
    border-bottom: 1px solid gray;
}