{{> header page_name="Create Project" home_active=true}}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 d-flex align-content-center">
            <h1>Create New Project</h1>
        </div>
    </div>
    <form method="post" class="mt-4">
        <div class="row">
            <label for="project_name" class="col-sm-1 col-form-label">Name</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="project_name" name="project_name" required>
            </div>
        </div>
        <div class="row mt-1">
            <label for="project_description" class="col-sm-1 col-form-label">Description (optional)</label>
            <div class="col-sm-11">
                <textarea class="form-control" id="project_description" name="project_description" rows="3"></textarea>
            </div>
        </div>
        <div class="row mt-1">
            <label for="template_id" class="col-sm-1 col-form-label">Template</label>
            <div class="col-sm-11">
                <select class="form-select" required id="template_id" name="template_id">
                    {{#each templates}}
                        <option value="{{id}}" title="{{description}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <button type="submit" class="btn btn-success col-sm-12 float-end" style="width: auto;">Create Project</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>