{{> header page_name="Home" home_active=true}}

<div class="container-fluid mt-3">
    <div class="row mb-1">
        <div class="col-12 d-flex align-content-center">
            <h1 class="d-inline">Projects</h1><a href="/projects/create" class="btn d-flex align-content-center btn-outline-success align-self-center ms-2" style="flex-wrap: wrap; height: 80%;">+</a>
        </div>
    </div>
    <div class="project_list">
        <div class="row list_row">
            <div class="col d-flex align-content-center flex-wrap">
                <b>Name</b>
            </div>
        </div>
        {{#each projects}}
        <div class="row list_row">
            <div class="col d-flex align-content-center flex-wrap">
                <a href="/projects/{{this.id}}">{{this.name}}</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <span class="text-muted">Version: {{version}}</span>
    </div>
</footer>
<script src="/js/general.js"></script>
</body>
</html>