<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verfassungsbooks - Editor</title>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link p-0" aria-current="page" href="/"><svg xmlns="http://www.w3.org/2000/svg" fill="white" height="20" viewBox="0 -960 960 960" width="20"><path d="m274-450 248 248-42 42-320-320 320-320 42 42-248 248h526v60H274Z"/></svg></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active p-0 ms-3" href="/projects/{{this}}">Editor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-0 ms-3" href="/projects/{{this}}/bibliography">Bibliography</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropbtn p-0 ms-3" href="#" role="button">
                        Tools
                    </a>
                    <ul class="dropdown-content">
                        <li><a class="dropdown-item" id="navbar_tools_convert_footnotes_endnotes">Convert Footnotes <-> Endnotes</a></li>
                    </ul>
                </li>-->

            </ul>
        </div>
        <div>
            <button class="btn btn-sm btn-success" style="font-size: 10pt; padding: 0 5px 0 5px;" id="editor_render_project_btn">Render Project</button>
            <a class="img-btn hide" id="editor_download_pdf_btn" href="" download><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" fill="white" width="22"><path d="M480-313 287-506l43-43 120 120v-371h60v371l120-120 43 43-193 193ZM220-160q-24 0-42-18t-18-42v-143h60v143h520v-143h60v143q0 24-18 42t-42 18H220Z"/></svg></a>
        </div>
    </div>
</nav>
<div class="faded-out-background hide" id="overlay-wrapper">
    <div class="overlay" id="overlay">
        <button class="btn img-btn" id="overlay_close_btn"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></button>
        <div id="inner_overlay">
        </div>
    </div>
</div>
<div class="container-fluid editor">
    <div class="row h-100">
        <div class="col col-4 col-xl-2" id="editor-sidebar-wrapper">
            <div id="editor-sidebar">
            </div>
        </div>
        <div class="col col-8 col-xl-10" id="editor-main-col">
            <div class="row d-flex">
                <div class="editor-details">

                </div>
                <div id="editor-render-preview" class="hide">
                    <div style="overflow-y:scroll;" id="test">
                        Loading Preview...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/handlebars-v4.7.8.js" type="text/javascript"></script>
<script src="/js/precompiled_partials.js"></script>
<script src="/js/precompiled_templates.js"></script>
<script src="/js/import.js"></script>
<script src="/js/user_tools.js"></script>
<script src="/js/neditor.js"></script>
<script src="/js/general.js"></script>
<script src="/js/editor.js"></script>
</body>
</html>