{{> header page_name="Settings" settings_active=true}}

<div class="container-fluid mt-3">
    <div class="row mb-1">
        <div class="col-12 d-flex align-content-center">
            <h1 class="d-inline">Users</h1>
        </div>
    </div>
    <div class="user_list">
        <div class="row user_list_row">
            <div class="col d-flex align-content-center flex-wrap">
                <b>Name</b>
            </div>
            <div class="col d-flex flex-wrap">
                <b>E-Mail</b>
            </div>
            <div class="col d-flex flex-wrap">
                <b>Password</b>
            </div>
            <div class="col d-flex flex-wrap col-1">
                <b>Actions</b>
            </div>
        </div>
        {{#each this}}
        <div class="row user_list_row mb-1" data-user-id="{{id}}">
            <div class="col d-flex align-content-center flex-wrap">
                <input class="form-control settings-user-username" type="text" value="{{name}}" />
            </div>
            <div class="col d-flex flex-wrap">
                <input class="form-control settings-user-email" type="text" value="{{email}}" />
            </div>
            <div class="col d-flex flex-wrap">
                <input class="form-control settings-user-password" type="password" autocomplete="new-password" />
            </div>
            <div class="col d-flex flex-wrap col-1">
                <button class="btn btn-success btn-sm me-1 settings-save-user">Save</button>
                <button class="btn btn-danger btn-sm settings-delete-user">Delete</button>
            </div>
        </div>
        {{/each}}
        <b>New User:</b>
        <div class="row user_list_row">
            <div class="col d-flex align-content-center flex-wrap">
                <input class="form-control" id="settings-new-user-username" type="text" value="" placeholder="username" />
            </div>
            <div class="col d-flex flex-wrap">
                <input class="form-control" id="settings-new-user-email" type="text" value="" placeholder="email@example.com"/>
            </div>
            <div class="col d-flex flex-wrap">
                <input class="form-control" type="password" id="settings-new-user-password" autocomplete="new-password" />
            </div>
            <div class="col col-1 d-flex flex-wrap">
                <button class="btn btn-success btn-sm me-1 settings-add-user">Add</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/general.js"></script>
<script src="/js/handlebars-v4.7.8.js" type="text/javascript"></script>
<script src="/js/precompiled_templates.js" type="text/javascript"></script>
<script src="/js/precompiled_partials.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/settings.js"></script>
</body>
</html>